# Grafana datasource provisioning for boring-ui observability.
#
# Bead: bd-223o.4 (P4)

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
